<div class="home-normal-page">
  <div class="title-left" style="margin-left: 60px">一年级一班</div>
  <div style="width: 1920px; height: 940px; margin-top: 10px;">
    <div style="width: 1800px; height: 700px; margin-left: 60px; background-color: gray;position:absolute;"></div>
    <app-drag #one [scrollX]="60" [scrollY]="750" style="position: absolute;"
              (change)="checkLocation(1,one, $event)"></app-drag>
  </div>

</div>


<!--<app-drag #one [scrollX]="50" [scrollY]="450" (change)="checkLocation(1,one, $event)"></app-drag>-->

<!--<app-drag #two [scrollX]="200" [scrollY]="450" (change)="checkLocation(2,two,$event)"></app-drag>-->

<!--<app-drag #three [scrollX]="350" [scrollY]="450" (change)="checkLocation(3,three,$event)"></app-drag>-->
