<!--<md-card style="background-color: #536DFE; text-align: center; padding: 10px">-->
<!--<span style="color: white; font-size: 16px; ">{{title}}</span>-->
<!--</md-card>-->
<!--<app-page></app-page>-->
<div style="width: 1920px; height: 1080px; overflow: hidden;">
  <!--<app-select></app-select>-->
  <!--<app-available-view></app-available-view>-->
  <router-outlet></router-outlet>
  <!--<app-preview></app-preview>-->
</div>

<!--<app-data #data inputValue="Hello" (outputValue)="showChildClick($event)"></app-data>-->

<!--通过变量获取子组件内部非 private 的值-->
<!--<div style="width: 100%;height: 100px;">get child value from parent at html ：{{data.name}}</div>-->
<!--<router-outlet></router-outlet>-->
