<div style="display: block;">
  <!--ngModel指令实现双向数据绑定-->
  <input [(ngModel)]="name">
  <!--ngif并不是在显示和隐藏这条消息，它是在从 DOM 中添加和移除这个段落元素-->
  <div *ngIf="name.length < 20">{{name}}</div>
  <button [ngClass]="cssBig" (click)="onClick(name)">Click</button>

  <div appMyClick="Hello World" defaultName="div" [ngClass]="currentClassed">[ngClass] binding to the classes
    property
  </div>

  <table [ngStyle]="{'display': isBig ? 'none':'inline'}" border=1>
    <tr>
      <td [attr.colspan]="1 + 1">One-Two</td>
    </tr>
    <tr>
      <td>Five</td>
      <td>Six</td>
    </tr>
  </table>

  <!--单一值设置方式-->
  <div [style.font-size]="isBig ? 'x-large' : 'smaller'">Hello , World</div>


  <div [ngStyle]="currentStyles">Hello , World</div>

  <div [ngSwitch]="currentIndex">
    <div *ngSwitchCase="'1'">Kevin001</div>
    <div *ngSwitchCase="'2'">Kevin002</div>
    <div *ngSwitchCase="'3'">Kevin003</div>
    <div *ngSwitchDefault>DefaultName</div>
  </div>

  <input #myinput value="123">
  <div>{{myinput.value}}</div>

  <div>利用管道显示性别：{{sex | mySex}}</div>
</div>
