<div class="home-normal-page">
  <div class="title-left" style="margin-left: 60px">一年级一班</div>
  <div style="width: 1920px; height: 940px; margin-top: 10px;">
    <div #root style="position: absolute;"
         style="background-color: white"
         [style.width.px]="1800"
         [style.height.px]="800"
         [style.margin-left.px]="60">

      <div style="position: absolute; width: 300px; height: 300px; background-color: lightgreen"></div>
      <div style="position: absolute; width: 400px; height: 300px; background-color: brown; margin-left: 300px;"></div>
      <div style="position: absolute; width: 600px; height: 400px; background-color: darksalmon; margin-left: 700px;"></div>
      <div style="position: absolute; width: 600px; height: 400px; background-color: cyan; margin-left: 700px;"></div>
      <div style="position: absolute; width: 600px; height: 400px; background-color: darkviolet;margin-top: 300px"></div>
      <div style="position: absolute; width: 300px; height: 300px; background-color: darkred;margin-top: 400px; margin-left: 600px"></div>
      <div style="position: absolute; width: 400px; height: 300px; background-color: orangered;margin-top: 400px; margin-left: 900px"></div>
      <div style="position: absolute; width: 300px; height: 300px; background-color: gold;margin-left: 1300px"></div>
      <div style="position: absolute; width: 300px; height: 400px; background-color: goldenrod;margin-left: 1300px;margin-top: 400px"></div>

    </div>
  </div>

</div>
